/* import Fira Sans font family */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&display=swap");

/* Application main colors */
:root {
  --primary-color: rgba(49, 67, 131, 1);
  --secondary-color: rgba(69, 97, 72, 1);
  --white-color: rgba(255, 255, 255, 1);
  --red-color: rgba(152, 27, 27, 1);
  --warning-color: rgba(230, 218, 109, 1);
  --gray-color: #d9d9d9;
}

/* global style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

/* landing page */
.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--primary-color);
  color: var(--white-color);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.landing-container .welcome {
  font-size: 60px;
  font-weight: bold;
}

.landing-container .pub-name {
  font-size: 72px;
  font-weight: bold;
}

.landing-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-btns {
  display: flex;
}

.landing-btn {
  width: 15rem;
  height: 5rem;
  margin: 5px;
}

/* primary button */
.primary-btn {
  background-color: var(--white-color);
  border-radius: 10px;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 24px;
  padding: 1rem;
  border: none;
  cursor: pointer;
}

/* secondary button */
.secondary-btn {
  background-color: var(--secondary-color);
  border-radius: 10px;
  color: var(--white-color);
  font-weight: 700;
  font-size: 24px;
  padding: 1rem;
  border: none;
  cursor: pointer;
}

/* red button */
.red-btn {
  background-color: var(--red-color);
  border-radius: 10px;
  color: var(--white-color);
  font-weight: 700;
  font-size: 24px;
  padding: 1rem;
  border: none;
  cursor: pointer;
}

/* ***********HEADER************* */
/* header style */
#header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 125px;
  background-color: var(--primary-color);
  color: var(--white-color);
}

/* logo container */
#header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .logo #pub-logo {
  width: 119px;
  height: 119px;
}

/* language icon container */
#header .lang {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: flex-end;
}

#header .lang .material-symbols-outlined {
  font-size: 53px;
  cursor: pointer;
  margin-right: 25px;
}

/* login button */
.login {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 25px;
}

/* ******************************* */

/* ***********LOGIN************* */
/* The Modal (background) */
#login-modal,
#payment-modal, #order-modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.modal-content label {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  color: var(--primary-color);
}

.modal-content input {
  margin-bottom: 10px;
  padding: 10px;
}

.modal-content button {
  align-self: flex-end;
}

.logout-btn {
  display: none;
}

.order-modal-title{
  color: var(--primary-color);
}
.order-modal-title span{
  float: right;
  color:var(--red-color);
  cursor: pointer;
}

.order-modal-list p, .modal-total{
  padding: 15px;
  font-size: 1.2rem;
  font-weight: 700;
}
.modal-total span{
  float: right;
}

.order-modal-remove{
  color: var(--primary-color);
  cursor: pointer;
  float: right;
}

/* ******************************* */
/* ***********MENU************* */
/* Welcome Text Section */
#welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 24px;
  font-weight: 500;
  padding: 15px;
}

/* ******************************* */
/* ***********FILTERING SECTION************* */
#filter-section {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin: 5px;
}

.filter-buttons .secondary-btn {
  padding: 0.8rem;
  margin: 10px 5px;
  cursor: pointer;
}

.filter-checkboxes {
  display: flex;
  margin: 10px;
  color: var(--secondary-color);
  font-size: 24px;
}

.filter-checkboxes > div {
  margin-right: 15px;
}

.filter-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin-right: 10px;
}

.search-bar {
  position: relative;
  width: 26rem;
  padding-right: 40px;
  padding: 12px;
  border-radius: 10px;
  background-color: var(--gray-color);
  border: none;
  font-size: 20px;
  margin-top: 12px;
}

/* .search-bar-container button {
  position: absolute;
  top: 240px;
  right: 25px;
  border: none;
  background: none;
} */

.sort-dropdown .sortby {
  margin-top: 5px;
  width: 18rem;
  padding: 12px;
  border-radius: 10px;
  background-color: var(--gray-color);
  border: none;
  font-size: 18px;
}

/* ******************************* */

/* ***********PRODUCTS AND CART************* */
.products-cart {
  display: flex;
}

.products {
  /* flex: 0 0 70%; */
  max-width: 70%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}
.product-item {
  width: calc(33.333% - 10px);
  height: 15rem !important;
  background-color: var(--primary-color);
  margin: 0 5px 5px 0;
  color: var(--white-color);
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.flex-container {
  display: flex;
  align-items: center;
}

.product-item .product-info {
  flex-grow: 1;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 22px;
  align-items: center;
  height: 80px;
}

.product-item .product-info h3,
.product-item .product-info p {
  margin: 0;
}

.product-item .product-image {
  width: 80px;
  filter: invert(100%);
  margin-right: 10px;
  flex-shrink: 0;
}

.product-item .divider {
  width: 100%;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.bottom-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.bottom-info p {
  margin: 0;
}

.bottom-info p:not(:last-child) {
  margin-right: 5px; /* Adjust as needed */
  padding-right: 5px; /* Adjust as needed */
  border-right: 1px solid #ccc;
}

.product-actions {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
}

.low-stock{
  color: rgb(237, 28, 36);
}

.staff-alert{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.staff-alert p {
  color:var(--red-color);
  font-size: 20px;
  font-weight: 500;
}

.staff-alert button {
  color:var(--white-color);
  background-color: var(--red-color);
  padding: 15px;
  border-radius:15px;
  box-shadow: none;
  border:none;
  font-size: 20px;
  margin-top: 10px;
  width: 12rem;
  cursor: pointer;
}

.product-actions button {
  background: none; /* Remove button background */
  border: none; /* Remove button border */
  color: var(
    --warning-color
  ); /* Set the text color (assuming you want to keep the white color from your design) */
  padding: 0; /* Remove padding */
  margin: 0 5px; /* Optional: add some space between the buttons */
  cursor: pointer; /* Change mouse cursor to pointer to indicate the element is clickable */
  text-decoration: underline;
}

.cart-container,
.orders-container {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-color);
  flex: 1;
  max-width: 30%;
  padding: 15px;
  border-radius: 10px;
  margin: 10px 15px 15px 5px;
  min-height: 100vh;
  max-height: 800px;
}

.orders-container{
  overflow: auto;
}

.cart-items{
  max-height: 500px;
  overflow: auto;
}

.cart-container .order-title,
.orders-container .order-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-color);
}

.cart-container .empty-text,
.orders-container .empty-text {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-color);
}

.cart-container .cart-item {
  color: var(--primary-color);
  margin-left: 10px;
  padding: 4px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.cart-container .cart-item .item-price {
  margin-left: auto;
}

.cart-container .cart-item .remove-icon {
  margin-left: 5px;
  font-size: 32px;
  color: var(--red-color);
  cursor: pointer;
}

.service-options,
.payment-options {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.service-options label,
.payment-options label {
  margin: 10px 0;
}

.table-number {
  display: flex;
}

.total-section,
.amount-due {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 10px 0;
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  font-size: 20px;
  font-weight: 500;
}

.bottom-section {
  margin-top: auto;
  color: var(--primary-color);
  /* This pushes the bottom section to the bottom of the flex container */
}

#place-order,
#submit-vip {
  display: block;
  /* Make it a block element to enable margin auto */
  margin-right: 8px;
}

.cart-buttons {
  display: flex;
}

.hr-style {
  margin: 8px;
  border-top: 2px solid var(--primary-color);
}

.orders-container .order-item {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--secondary-color);
  cursor: pointer;
  margin: 5px;
  position: relative;
  height: 100px;
}

.order-item .order-status{
  display: inline-block;
  margin-top: 5px;
}

.order-fullfilled {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.order-pending {
  background-color: var(--white-color);
  color: var(--secondary-color);
}
.order-pending .order-status {
  background-color: rgba(255, 140, 0, 0.192);
  color: rgb(255, 140, 0);
  border-radius: 30px;
  padding: 6px 12px;
  border: 1px solid rgb(255, 140, 0);
}

.order-number,
.order-amount {
  float: right;
}

.order-amount {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.2em;
  margin-right: 10px;
  margin-bottom: 5px;
}
