/* import Fira Sans font family */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&display=swap");

/* Application main colors */
:root {
  --primary-color: rgba(49, 67, 131, 1);
  --secondary-color: rgba(69, 97, 72, 1);
  --white-color: rgba(255, 255, 255, 1);
  --red-color: rgba(152, 27, 27, 1);
  --warning-color: rgba(230, 218, 109, 1);
  --gray-color: #d9d9d9;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* global style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

/* landing page */
.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--primary-color);
  color: var(--white-color);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.landing-container .welcome {
  font-size: 60px;
  font-weight: bold;
}

.landing-container .pub-name {
  font-size: 72px;
  font-weight: bold;
}

.landing-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* primary button */
.primary-btn {
  background-color: var(--white-color);
  border-radius: 10px;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 24px;
  padding: 1rem;
  border: none;
  cursor: pointer;
}

/* secondary button */
.secondary-btn {
  background-color: var(--secondary-color);
  border-radius: 10px;
  color: var(--white-color);
  font-weight: 700;
  font-size: 24px;
  padding: 1rem;
  border: none;
  cursor: pointer;
}

/* red button */
.red-btn {
  background-color: var(--red-color);
  border-radius: 10px;
  color: var(--white-color);
  font-weight: 700;
  font-size: 24px;
  padding: 1rem;
  border: none;
  cursor: pointer;
}

/* ***********HEADER************* */
/* header style */
#header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 125px;
  background-color: var(--primary-color);
  color: var(--white-color);
}

/* logo container */
#header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .logo #pub-logo {
  width: 119px;
  height: 119px;
}

/* language icon container */
#header .lang {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: flex-end;
}

#header .lang .material-symbols-outlined {
  font-size: 53px;
  cursor: pointer;
  margin-right: 25px;
}

/* login button */
.login {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 25px;
}

/* ******************************* */

/* ***********LOGIN************* */
/* The Modal (background) */
#login-modal,
#payment-modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.modal-content label {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  color: var(--primary-color);
}

.modal-content input {
  margin-bottom: 10px;
  padding: 10px;
}

.modal-content button {
  align-self: flex-end;
}

.logout-btn {
  display: none;
}

/* ******************************* */
/* ***********MENU************* */
/* Welcome Text Section */
#welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 24px;
  font-weight: 500;
  padding: 15px;
}

/* ******************************* */
/* ***********FILTERING SECTION************* */
#filter-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5px;
}

.filter-buttons .secondary-btn {
  padding: 0.8rem;
  margin: 10px 5px;
  cursor: pointer;
}

.filter-checkboxes {
  display: flex;
  margin: 10px;
  color: var(--secondary-color);
  font-size: 24px;
}

.filter-checkboxes .gluten-checkbox {
  margin-right: 15px;
}

.filter-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin-right: 10px;
}

.search-bar {
  position: relative;
}

#search-bar {
  width: 26rem;
  padding-right: 40px;
  padding: 12px;
  border-radius: 10px;
  background-color: var(--gray-color);
  border: none;
  font-size: 20px;
  margin-top: 12px;
}

.search-bar button {
  position: absolute;
  top: 25px;
  right: 15px;
  border: none;
  background: none;
}

.sort-dropdown #sortby {
  margin-top: 5px;
  width: 18rem;
  padding: 12px;
  border-radius: 10px;
  background-color: var(--gray-color);
  border: none;
  font-size: 18px;
}

/* ******************************* */

/* ***********PRODUCTS AND CART************* */
.products-cart {
  display: flex;
}

#products {
  /* flex: 0 0 70%; */
  max-width: 70%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.product-item {
  width: calc(33.333% - 10px);
  height: 200px !important;
  background-color: var(--primary-color);
  margin: 0 5px 5px 0;
  color: var(--white-color);
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.product-image {
  width: 100px;
  filter: invert(100%);
  margin-right: 10px;
}

.product-info {
  display: flex;
  flex-direction: column;
}

#cart-container {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-color);
  flex: 1;
  max-width: 30%;
  padding: 15px;
  border-radius: 10px;
  margin: 10px 15px 15px 5px;
  min-height: 100vh;
  /* Ensure the container takes full height */
}

#cart-container .order-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-color);
}

#cart-container .empty-text {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: black;
}

#cart-container .cart-item {
  color: var(--primary-color);
  margin-left: 10px;
  padding: 4px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

#cart-container .cart-item .item-price {
  margin-left: auto;
}

#cart-container .cart-item .remove-icon {
  margin-left: 5px;
  font-size: 32px;
  color: var(--red-color);
  cursor: pointer;
}

.service-options,
.payment-options {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.service-options label,
.payment-options label {
  margin: 10px 0;
}

.table-number {
  display: flex;
}

.total-section,
.amount-due {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 10px 0;
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  font-size: 20px;
  font-weight: 500;
}

.bottom-section {
  margin-top: auto;
  /* This pushes the bottom section to the bottom of the flex container */
}

#place-order,
#submit-vip {
  display: block;
  /* Make it a block element to enable margin auto */
  margin-right: 8px;
}

.cart-buttons {
  display: flex;
}

.hr-style {
  margin: 8px;
  border-top: 2px solid var(--primary-color);
}

/* ******************************* */

/* ******************************* */
/* 
body {
    background-color: #2D3250;
    color: #F6B17A;
    display: flex;
    font-family: Arial, sans-serif;
    flex-direction: row;
    min-height: 100vh;
    margin: 0;
}

#sidebar,
#main,
#cart {
    border: 2px solid #F6B17A;
    position: relative;
}

#sidebar {
    background-color: #7077A1;
    color: #F6B17A;
    width: 15%;
    padding: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow-y: auto;
    height: 100vh;
}

.category {
    list-style: none;
    text-align: center;
    padding: 10px;
}

.category-item {
    border-bottom: 1px solid #424769;
    cursor: pointer;
    margin: 10px 0;
    padding: 8px 0;
}

#sidebar ul {
    list-style: none;
    text-align: center;
    padding: 10px;
}

#sidebar ul li {
    border-bottom: 1px solid #424769;
    cursor: pointer;
    margin: 10px 0;
    padding: 8px 0;
}

#main {
    width: 70%;
    padding: 20px;
}

#products {
    background-color: #2D3250;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%-1px;
    margin: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

#products div {
    cursor: pointer;
    background-color: #424769;
    border: 1px solid #F6B17A;
    margin: 10px;
    padding: 20px;
    flex: 0 0 calc(33.333% - 20px - 1px - 2*10px);
    min-height: 60px;
    box-sizing: border-box;
    text-align: center;
    max-height: 50px;
}

#products div:hover {
    background-color: #F6B17A;
    color: white;
}

#cart {
    background-color: #7077A1;
    color: #F6B17A;
    width: 15%;
    padding: 10px;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow-y: auto;
    height: 100vh;
}

#cart ul {
    list-style: none;
    padding: 10px;
}

#cart ul li {
    margin: 10px 0;
}

button {
    background-color: #F6B17A;
    color: #FFFFFF;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #F5E8C7;
}

select#deliveryOption {
    background: #F6B17A url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path d='M7 10l5 5 5-5z' fill='%23ffffff'/></svg>") no-repeat right -0.6em center/30px 18px;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 15px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
} */

/* You might want to add a custom arrow indicator for the dropdown */
/* select#deliveryOption::after {
    content: '▼';
    color: white;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
} */