/* import Fira Sans font family */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&display=swap");

/* Application main colors */
:root {
  --primary-color: rgba(49, 67, 131, 1);
  --secondary-color: rgba(69, 97, 72, 1);
  --white-color: rgba(255, 255, 255, 1);
  --red-color: rgba(152, 27, 27, 1);
  --warning-color: rgba(230, 218, 109, 1);
  --gray-color: #d9d9d9;
}

/* global style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

/* ***********BUTTONS************* */
/* primary button */
.primary-btn {
  background-color: var(--white-color);
  border-radius: 10px;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 24px;
  padding: 1rem;
  border: none;
  cursor: pointer;
}

/* secondary button */
.secondary-btn {
  background-color: var(--secondary-color);
  border-radius: 10px;
  color: var(--white-color);
  font-weight: 700;
  font-size: 24px;
  padding: 1rem;
  border: none;
  cursor: pointer;
}

/* red button */
.red-btn {
  background-color: var(--red-color);
  border-radius: 10px;
  color: var(--white-color);
  font-weight: 700;
  font-size: 24px;
  padding: 1rem;
  border: none;
  cursor: pointer;
}
/* ******************************* */

/* ***********LANDING************* */
/* Landing page container style, centering elements and defining colors */
.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--primary-color);
  color: var(--white-color);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* style for the welcome text */
.landing-container .welcome {
  font-size: 60px;
  font-weight: bold;
}

/* style for the pub name in the landing page */
.landing-container .pub-name {
  font-size: 72px;
  font-weight: bold;
}

/* style for the parent div of elements in the landing page */
.landing-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* style for buttons in the landing page */
.landing-btns {
  display: flex;
}

/* style for each button in the landing page  */
.landing-btn {
  width: 15rem;
  height: 5rem;
  margin: 5px;
}
/* ******************************* */

/* ***********HEADER************* */
/* style for header container */
#header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 125px;
  background-color: var(--primary-color);
  color: var(--white-color);
}

/* style for logo container */
#header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* style for logo image */
#header .logo #pub-logo {
  width: 119px;
  height: 119px;
}

/* style for language icon container */
#header .lang {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: flex-end;
}

/* style for language icon */
#header .lang .material-symbols-outlined {
  font-size: 53px;
  cursor: pointer;
  margin-right: 25px;
}

/* style for login button */
.login {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 25px;
}
/* ******************************* */

/* ***********MODAL************* */
/* style for login modal, payment modal and order modal containers */
#login-modal,
#payment-modal, #order-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* style for modal content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

/* style for label in modal content */
.modal-content label {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  color: var(--primary-color);
}

/* style for input in modal content (login modal and payment modal) */
.modal-content input {
  margin-bottom: 10px;
  padding: 10px;
}

/* style for button in modal content */
.modal-content button {
  align-self: flex-end;
}

/* hiding the logout button by default */
.logout-btn {
  display: none;
}

/* style for title in order modal */
.order-modal-title{
  color: var(--primary-color);
}

/* style for close icon of modal */
.order-modal-title .close-icon{
  float: right;
  color:var(--red-color);
  cursor: pointer;
}

/* style for order items and the order total amount */
.order-modal-list p, .modal-total{
  padding: 15px;
  font-size: 1.2rem;
  font-weight: 700;
}

/* style for order amount value */
.modal-total span{
  float: right;
}

/* style for remove order item icon */
.order-modal-remove{
  color: var(--primary-color);
  cursor: pointer;
  float: right;
}
/* ******************************* */

/* ***********MENU************* */
/* Welcome Text Section */
#welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 24px;
  font-weight: 500;
  padding: 15px;
}

/* ******************************* */
/* ***********FILTERING SECTION************* */
/* stype for parent div of filtering sections*/
#filter-section {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin: 5px;
}

/* stype for filter buttons */
.filter-buttons .secondary-btn {
  padding: 0.8rem;
  margin: 10px 5px;
  cursor: pointer;
}

/* stype for filter checkboxes */
.filter-checkboxes {
  display: flex;
  margin: 10px;
  color: var(--secondary-color);
  font-size: 24px;
}

/* style for child div of the .filter-checkboxes */
.filter-checkboxes > div {
  margin-right: 15px;
}

/* style for parent div of searchbar and sorting dropdown */
.filter-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin-right: 10px;
}

/* style for searchbar input */
.search-bar {
  position: relative;
  width: 26rem;
  padding-right: 40px;
  padding: 12px;
  border-radius: 10px;
  background-color: var(--gray-color);
  border: none;
  font-size: 20px;
  margin-top: 12px;
}

/* style for sorting dropdown */
.sort-dropdown .sortby {
  margin-top: 5px;
  width: 18rem;
  padding: 12px;
  border-radius: 10px;
  background-color: var(--gray-color);
  border: none;
  font-size: 18px;
}
/* ******************************* */

/* ***********PRODUCTS AND CART************* */
/* style for parent div of products and cart */
.products-cart {
  display: flex;
}

/* style for parent div of list of products*/
.products {
  max-width: 70%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

/* style for each product item */
.product-item {
  width: calc(33.333% - 10px);
  height: 15rem !important;
  background-color: var(--primary-color);
  margin: 0 5px 5px 0;
  color: var(--white-color);
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

/* style for elements in product item */
.flex-container {
  display: flex;
  align-items: center;
}

/* style for prodcut info in product item */
.product-item .product-info {
  flex-grow: 1;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 22px;
  align-items: center;
  height: 80px;
}

/* margin 0 for h3 and p tags in product info */
.product-item .product-info h3,
.product-item .product-info p {
  margin: 0;
}

/* style for image in product item */
.product-item .product-image {
  width: 80px;
  filter: invert(100%);
  margin-right: 10px;
  flex-shrink: 0;
}

/* style for divider in product item */
.product-item .divider {
  width: 100%;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

/* style for the info after divider in product item */
.bottom-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* style for p tag in bottom info in product item */
.bottom-info p {
  margin: 0;
}

/* style for paragraphs in .bottom-info, except the last one */
.bottom-info p:not(:last-child) {
  margin-right: 5px;
  padding-right: 5px;
  border-right: 1px solid #ccc;
}

/* style for product actions in product item (staff view) */
.product-actions {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
}

/* style for low-stock text in product item */
.low-stock{
  color: rgb(237, 28, 36);
}

/* style for buttons in product-actions */
.product-actions button {
  background: none;
  border: none;
  color: var(
    --warning-color
  );
  padding: 0;
  margin: 0 5px;
  cursor: pointer;
  text-decoration: underline;
}

/* style for parent div of low stock and alert secutiry button (staff view) */
.staff-alert{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

/* style for low stock at the top of the menu (staff view) */
.staff-alert p {
  color:var(--red-color);
  font-size: 20px;
  font-weight: 500;
}

/* style for alert security button (staff view) */
.staff-alert button {
  color:var(--white-color);
  background-color: var(--red-color);
  padding: 15px;
  border-radius:15px;
  box-shadow: none;
  border:none;
  font-size: 20px;
  margin-top: 10px;
  width: 12rem;
  cursor: pointer;
}

/* style for parent div of cart (customer) and orders list (staff) */
.cart-container,
.orders-container {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-color);
  flex: 1;
  max-width: 30%;
  padding: 15px;
  border-radius: 10px;
  margin: 10px 15px 15px 5px;
  min-height: 100vh;
  max-height: 800px;
}

/* enable scroll for orders list container */
.orders-container{
  overflow: auto;
}

/* style for parent div of items in the cart */
.cart-items{
  max-height: 500px;
  overflow: auto;
}

/* style for title in cart container and orders container */
.cart-container .order-title,
.orders-container .order-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-color);
}

/* style for empty text in cart container and orders container*/
.cart-container .empty-text,
.orders-container .empty-text {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-color);
}

/* style for each item in cart */
.cart-container .cart-item {
  color: var(--primary-color);
  margin-left: 10px;
  padding: 4px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

/* style for each item price in cart */
.cart-container .cart-item .item-price {
  margin-left: auto;
}

/* style for remove item icon in cart */
.cart-container .cart-item .remove-icon {
  margin-left: 5px;
  font-size: 32px;
  color: var(--red-color);
  cursor: pointer;
}

/* style for service options at the bottom of cart */
.service-options {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

/* style for label in service options at the bottom of cart */
.service-options label {
  margin: 10px 0;
}

/* style for table number at the bottom of the cart */
.table-number {
  display: flex;
}

/* style for total amount section at the bottom of cart*/
.total-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 10px 0;
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  font-size: 20px;
  font-weight: 500;
}

/* style for the bottom section in cart*/
.bottom-section {
  margin-top: auto;
  color: var(--primary-color);
}

/* style for submit order in cart */
#place-order,
#submit-vip {
  display: block;
  margin-right: 8px;
}

/* parent div for buttons in cart */
.cart-buttons {
  display: flex;
}

/* style for hr tag */
.hr-style {
  margin: 8px;
  border-top: 2px solid var(--primary-color);
}
/* ******************************* */

/* ***********ORDERS (Staff)************* */
/* style for each order item in orders list */
.orders-container .order-item {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--secondary-color);
  cursor: pointer;
  margin: 5px;
  position: relative;
  height: 100px;
}

/* style for order status in each order item */
.order-item .order-status{
  display: inline-block;
  margin-top: 5px;
}

/* style for order when its status is fullfilled */
.order-fullfilled {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

/* style for order when its status is pending */
.order-pending {
  background-color: var(--white-color);
  color: var(--secondary-color);
}

/* style for order's status when it's pending */
.order-pending .order-status {
  background-color: rgba(255, 140, 0, 0.192);
  color: rgb(255, 140, 0);
  border-radius: 30px;
  padding: 6px 12px;
  border: 1px solid rgb(255, 140, 0);
}

/* push order number and order total amount to the right side of order item */
.order-number,
.order-amount {
  float: right;
}

/* style for order total amount of each order item */
.order-amount {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.2em;
  margin-right: 10px;
  margin-bottom: 5px;
}
